@model Core.DataAccess.tbl_LK_FarmActivity

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tbl_LK_FarmActivity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FarmerActivityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FarmerActivityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_LK_FarmValueChain.ValueChainName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_LK_FarmValueChain.ValueChainName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FarmActivityID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
