@model IEnumerable<Core.DataAccess.tbl_LK_FarmerProduction>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Quantity_10_11)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Yield)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FarmerBenefitID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_LK_Farmer.FarmerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_LK_FarmerCIG.CIGName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_LK_FarmerProductionSeason.ProductionSeasonName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_LK_State.StateName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_LK_Year.YearID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity_10_11)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Yield)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FarmerBenefitID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_LK_Farmer.FarmerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_LK_FarmerCIG.CIGName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_LK_FarmerProductionSeason.ProductionSeasonName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_LK_State.StateName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_LK_Year.YearID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FarmerProductionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FarmerProductionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FarmerProductionID })
        </td>
    </tr>
}

</table>
