@model Core.DataAccess.tbl_ME_LK_IndicatorRegister

@{
    ViewBag.Title = "NewIndicatorRegister";
}

<h2>Add New Indicator Register</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>*All fields are compulsory</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label class="control-label col-md-2">Sub Component</label>
            <div class="col-md-10">
                @Html.DropDownList("SubComponentID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SubComponentID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Indicator</label>
            <div class="col-md-10">
                @Html.DropDownList("IndicatorsID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IndicatorsID, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-md-2">Indicator Type</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.IndicatorName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IndicatorName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Unit of Measurement</label>
            <div class="col-md-10">
                @Html.DropDownList("UnitOfMeasureID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UnitOfMeasureID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Is Summable</label>
            <div class="col-md-10">

                @Html.EditorFor(model => model.Summable, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Summable, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save Record" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
