@model Core.DataAccess.tbl_ME_Baseline

@{
    ViewBag.Title = "Edit";
}



<h2>Edit Base Data</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>----</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.BaseLineID)

        <div class="form-group">
            @Html.LabelFor(model => model.RegisterIndicatorsID, "RegisterIndicatorsID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" class="form-control" name="V" value="@Model.tbl_ME_LK_IndicatorRegister.IndicatorName" disabled="disabled" />
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.BaseData, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BaseData, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BaseData, "", new { @class = "text-danger" })
            </div>
        </div>
                <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
